*{     
  margin: 10; padding: 0; 
}
h1 {
  color:red;text-align:center
  }
  
  h2 {
    text-align: left;
  }
  
  h3 {
    text-align: right;
  }
  #foto{width: 130px; margin-top: 20%;
    border:6px ridge rgb(110, 87, 87);float: right; 
    margin-left:20px;    margin-right: 6px;}

  #info{background-color: burlywood;}

  #frame { 
    width: 800px; 
    margin: 40px auto 60px; 
  }
  body {  
    font: 16px Helvetica, Sans-Serif; 
    line-height: 24px; 
    background-color: thistle; 
}
  .dash{text-decoration-line: overline;} 
  .tablo { 
    font-style: italic; 
    font-weight: bold; 
    font-size: 18px; 
    text-align: left; 
    padding: 0 2px 0 0; 
    width: 0px; 
    padding-top: 5pc;
    height: 400px; 
    line-height: 5mm;
    border: 2px solid orange;
  
  }
.point1{background-color: purple;color: white;}
.point2{background-color: yellow;}
.point3{background-color: orange;color: white;}
.point4{background-color: pink;color: white;}

